#project-card {
    max-width: 375px;
    max-height: 475px;
    padding: 10px;
    margin: 5px;
    justify-content: space-between;
}

#card-media {
    height: 150px;
}

#project-name {
    text-align: left;
    padding: 3px;
}

#project-description {
    text-align: justify;
    text-justify: auto;
    padding: 3px;

    
}

#tag-chip {
    float: left;
    padding: 2px;

}

/* #github-btn {
    align-content: flex-end;
} */