#project-card {
    width: 325px;
    height: 475px;
    padding: 10px;
    margin: 5px;
}

#card-media {
    height: 150px;
}

#project-name {
    text-align: left;
    padding: 3px;
}

#project-description {
    text-align: justify;
    text-justify: auto;
    padding: 3px;

    
}

#project-tag {
    text-align: justify;
    text-justify: auto;
    padding: 3px;

}

/* #github-btn {
    align-content: flex-end;
} */