.App {
  text-align: center;
}


#app-header {
  background-color: royalblue;
  height: 125px;
  padding: 20px;
  color: white;
}

/* #header-text {
  float: left;
  padding: 10px;
}

#drawer {
  float:left;
} */

/* #header-container {
  float: left;
} */

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
